/* developer styles go here */
body {
    /* base font styles go on the body element */
    font-family: sans-serif;
}

header {
    max-width: 60rem;
    margin: 0 auto;
}

ul.menu {
    background-color: black;
}

ul.menu a {
    color: aquamarine;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    /* anchor tag is an inline element - inline elements will not accept top and bottom padding and margins */
    /* good practice to make anchor tag block level elements */
    display: block;
}

ul.menu a:hover,
ul.menu a:active {
    color: #ff14eb;
}

svg path,
svg rect,
svg polygon {
    fill: aquamarine;
}

ul.menu a:hover path,
ul.menu a:hover rect,
ul.menu a:hover polygon{
    fill: #ff14eb;
}

svg {
    width: 1.25rem;
}

/* change from a stacking navigation to a horizontal nav on larger viewports */
@media only screen and (min-width: 30rem) {
    ul.menu {
        display: flex;
        flex-wrap: wrap;
    }

    ul.menu li {
        /* flex grow and flex shrink properties go on the flex items */
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        text-align: center;
    }
}